body {
    height: 100vh;
    width: 100%;
    position: absolute;
    margin: 0;
    font-size: 0;
    box-sizing: border-box;
    background: black;
}

*:focus {
    outline: none;
}

.mainContent {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-grouping {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-title {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title_text {
    font-family: 'futura';
    color: white;
    letter-spacing: 5px;
    font-size: 40px;
    position: absolute;
}

.pageOne {
    height: 100%;
    overflow: hidden;
    background-image: url("images/background1.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;

    position:relative;
    z-index:200;
}

.menu {
    height: 10%;
    background-color: orange;
}

#home2, #eats1, #nba1 {
    font-size: 16px;
}

#search {
    font-size: 1rem;
}

.intro {
    margin: inherit;
    padding: 5px;
    color: gold;
    text-align: center;
    font-family: 'futura';
    font-size: 13px;
}

.searchSection {
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    font-size: 35px;
}

.pageTwo {
    height: calc(90vh - 60px);
    display: inline-block;
    display: none;
    margin: 5% 5% 0 5%;
    background-image: url("images/court1.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
}

.pageThree {
    height: calc(100vh - 50px);
    display: inline-block;
    display: none;
    background-image: url("images/court1.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
}

.addressSection {
    height: 15%;
    top: 5%;
    color: gold;
    text-align: center;
    font-family: "futura";
    position: relative;
}

.addressSection input {
    width: 55%;
}

.eats-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 14% 5% 0 5%;
}

.eats-content {
    height: 85%;
    margin-top: 10%;
}

.map {
    height: 45%;
    /* width:40%;
    padding: 1%; */
    /* border: 5px solid white; */
    display:none;
}

.mapSection {
    height: 100%;
}
#map {
    height: 100%;
    width: 100%;
}

.restaurants {
    height: 48%;
    display: inline-block;
    overflow: auto;
    position: relative;
    margin-top: 5%;
    padding: 0 1%;
    display: none;
}

.restaurants:hover {
    overflow-y: auto;
}

.restaurantSection {
    height: 100%;
    width: 100%;
    font-size: 35px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 2px;

}


/* Dynamically Created Restaurant List */
.mainRestaurantContainer {
    height: 30%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    box-shadow:0 0px 0px white, 0 0 11px white;
    border-radius: 10px;
    margin: 3% 1%;
    background: white;
}

.mainRestaurantContainer:hover {
    transition-duration: 0.5s;
    transform: translateY(-5px);
    background-color: rgb(250, 228, 203);
    box-shadow:0 0px 0px white, 0 0 11px white;
}

.emptyRestaurantContainer {
    color: white;
    text-align: center;
    font-size: 16px;
    display:none;
}

.emptyRestaurantContainer p{
    margin: auto;    
}

.image {
    display: none;
}

.appImage {
    width: 70%;
    height: 80%;
    border-radius: 30%;
}

.info {
    width: 70%;
    height: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.restaurantName {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.city {
    width: 100%;
    height: 20%;
    font-size: 75%;
    color: black;
}

#address {
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.address {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rateSection {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end
}

.rating {
    font-size: 40%;
    color: white;
}

.votes{
    width: 100%;
    height: 20%;
    font-size: 30%;
    color: dimgrey;
    text-align: right;
    color: black;
}

#search-btn {
    font-family: "Montserrat", "Arial";
    color: white;
    text-align: center;
    background: linear-gradient(178.26deg, rgba(255, 255, 255, 0) 50.39%, rgba(255, 255, 255, 0.34) 114.5%), chocolate;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom,  #D2691E, #8B4513);
}

#search-btn:hover,
#search-btn:focus {
    background-image: linear-gradient(to bottom,  rgb(190, 94, 26), rgb(109, 49, 6));
    border: 1px solid white;  
}

.landingButtons {
    font-family: "Montserrat", "Arial";
    color: white;
    text-align: center;
    background: linear-gradient(178.26deg, rgba(255, 255, 255, 0) 50.39%, rgba(255, 255, 255, 0.34) 114.5%), chocolate;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to bottom,  #D2691E, #8B4513);
    font-size: 3em;
    width: 20%;
    }

.landingButtons:hover {
    background-image: linear-gradient(to bottom,  rgb(190, 94, 26), rgb(109, 49, 6));
    border: 1px solid white;    
}

#loaderBackground {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(0, 0 ,0 ,1);
    z-index:10;
    display:none;
}

  #loadingBackground > p {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 50px;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/*NBA Scoreboard*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.gameSection {
    font-family: "Montserrat", "Arial";
    color: white;
    height: 90%;
    width:100%;
    overflow: auto;
    font-size:1rem;
}

.scoreboard {
    display: inline-flex;
    flex-direction:column;
    width: 50%;
    padding: 5px;
}


.scoreboard > * {
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.scoreboard > *:first-child {
    border-left: 1px solid white;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: black
}

.team-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-detail {
    padding: 0em 0.5em;
}

.team-detail {
    font-size: 1.5em;
}

.team-detail .team-nameandscore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team-detail .space {
    width: 150px;
    font-size: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.8;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
    font-size: 1.4rem;
}

.timer-container {
    display: flex;
    flex-direction: row;
}

.timer-container > * {
    border-right: 1px solid white;
    padding: 0em 1em;
    color: white;
}

.timer-container > *:last-child {
    border-right: 0;
    color: yellow;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 0.5em;
    background-color: black;
}

.logo img {
    width: 100px;
}

.hometeam {
    background-color: black;
}

.awayteam {
    background-color: black;
}

/*end NBA Scoreboard*/

.display {
    display: none;
}

/*TWITTER CSS BEGINS HERE*/

.twitterContainer{
    width: 100%;
    color: white;
    font-size: 1rem;
    display: inline-block;
    bottom: 0;
    margin: 0;
}

.twitterSection{
    width: 100%;
    display: flex;
    justify-content: center;
}

.tweetLogo{
    height: 97%;
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

.tweetLogo img{
    border-radius: 50%;
}

.tweetMain{
    height: 98%;
    width: 82%;
    display: inline-block;
    vertical-align: top;
    overflow: scroll;
}

.tweetMainHeader{
    height: 10%;
    width: 99%;
    font-size: 1rem;
}

.twitterHandle{
    height: 80%;
    width: 8%;
    display: inline-block;
    vertical-align: top;
}

.twitterVerified{
    height: 80%;
    width: 5%;
    display: inline-block;
}

.twitterVerified img{
    width: 80%;
}

.tweetsFeed{
    height: 80%;
    width: 99%;
    overflow: auto;
    /*overflow-x: hidden;*/
}

.tweetsFeed a{
    color: lightskyblue;
    margin: 0 5px;
}

.tweetText{
    height: 25%;
    width: 99%;
    border: solid lightskyblue 2px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

/*TWITTER CSS ENDS HERE*/


.reset {
    position: relative;
    left: 5%;
    width: 20%;
    height: 22px;
    border-radius: 7px;
    background-color: chocolate;
    cursor: pointer;
}

.reset:hover {
    background-color: saddlebrown;
}

#submit:hover {
    background-color: saddlebrown;
}

/* HEADER NAV SECTION */
.navbar {
    margin-bottom: 0;
    background: black;
    border-color: black;
    display: none;
}

.navbar-fixed-top {
    z-index: 100;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: black;
}

.nav-container {
    height: 100%;
}

.navbar-brand {
    height: 100%;
    font-size: 25px;
    cursor: pointer;
}

#home1:hover, #home1:focus {
    color: white;
    background-color: transparent;
}

.navbar-nav {
    margin-right: 2%;
    letter-spacing: 4px;
}


#nav-title {
    font-family: 'futura';
    color: white;
    letter-spacing: 20px;
    font-size: 30px;
    position: absolute;
}

.navbar-header {
    margin-left: 2%;
    height: 100%;
    font-family: 'futura';
    color: white;
    letter-spacing: 5px;
    font-size: 30px;
}

.header-img {
    height: 50px;
}


/* Button Animation */
.twitterBtn,
.twitterBtn::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.twitterBtn {
  background: none;
  background-color: black;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 0 auto;
  position: relative;
  text-transform: uppercase;
  position: fixed;
  bottom: 15px;

}

.twitterBtn::before,
.twitterBtn::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.twitterBtn:hover {
  color: black;
}

.twitterBtn::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
  }
  
  .twitterBtn:hover:after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

@media (max-width: 550px ) and (orientation: portrait) {

.main-title {
    align-items: flex-start;
}

.title-grouping {
    justify-content: space-around;
}
}

/*Iphone 4 & Iphone 5SE */
@media  (min-width: 320px) { 
    body, .pageTwo, .pageThree {
        background-size: 600px 640px;
    }

    .navbar-brand {
        font-size: 14px;
    }
    
    #title_text {
        font-size: 16px;
    }

    .landingButtons {
        font-size: 16px;
        width: 40%;
        margin: 0 1%;
    }

    .searchSection {
        font-size: 20px;
    }

    .intro {
        font-size: 13px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 20% 5% 0 5%;
    }
    .gameSection {
        font-family: "Montserrat", "Arial";
        color: white;
        height: 75%;
        width: 100%;
        font-size: 10px;
    }

    .team-detail {
        padding:0px
    }
}
/* Galaxy S5 */
@media  (min-width: 360px) { 

    body, .pageTwo, .pageThree{
        background-size: 725px 650px;
    }

    #title_text {
        font-size: 24px;
    }

    .landingButtons {
        font-size: 16px;
        width: 35%;
        margin: 0 1%;
    }

    .searchSection {
        font-size: 24px;
    }

    .intro {
        font-size: 15px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 20% 5% 0 5%;
    }

    .gameSection {
        font-family: "Montserrat", "Arial";
        color: white;
        height: 90%;
        width: 100%;
        font-size: 10px;
    }

    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width:50%;
        padding: 5px;
    }

    
    .addressSection {
        font-size: 20px;
    }

    #address {
        font-size: 16px;
    }

    #search-btn {
        font-size: 18px;
    }

    .info {
        font-size: 15px;
    }
    
    .rating {
        font-size: 18px;
    }
    
    .votes{
        font-size: 14px;
    }

}

/* Iphone 6/7/8 */
@media  (min-width: 375px) { 

    body, .pageTwo, .pageThree{
        background-size: 850px 800px;
    }

    .navbar-brand {
        font-size: 14px;
    }

    #title_text {
        letter-spacing: 7px; 
        font-size: 22px;
    }

    .landingButtons {
        font-size: 18px;
        width: 35%;
        margin: 0 1%;
    }

    .searchSection {
        font-size: 24px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 20% 5% 0 5%;
    }
    .gameSection {
        font-family: "Montserrat", "Arial";
        color: white;
        height: 90%;
        font-size: 10px;
    }
    .team-detail {
        padding:0px
    }
    .team-detail .team-nameandscore {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .homeTeamScore {
        padding-left: 19px;
    }
    .awayTeamScore {
        padding-left: 19px;
    }

    .pageThree {
        height: calc(100vh - 55px);
    }

    .addressSection input {
        width: 65%;
    }

    .info {
        font-size: 15px;
    }
    
    .rating {
        font-size: 18px;
    }
    
    .votes{
        font-size: 13px;
    }

}

/* Pixel 2 & Pixel 2 XL */
@media  (min-width: 411px) { 

    body, .pageTwo, .pageThree{
        background-size: 925px 825px;
    }

    .navbar-brand {
        font-size: 17px;
    }

    #title_text {
        letter-spacing: 7px; 
        font-size: 26px;
    }

    .landingButtons {
        font-size: 18px;
        width: 30%;
        margin: 0 1%;
    }

    .searchSection {
        font-size: 24px;
    }

    .intro {
        font-size: 17px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 15% 5% 0 5%;
    }
    
    .gameSection {
        font-family: "Montserrat", "Arial";
        color: white;
        height: 90%;
        width: 100%;;
        font-size: 10px;
    }

    .team-detail {
        padding:0px
    }

    .team-detail .team-nameandscore {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .homeTeamScore {
        padding-left: 19px;
    }

    .awayTeamScore {
        padding-left: 19px;
    }

    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width:50%;
        padding: 5px;
    }
    
    .pageThree {
        height: calc(100vh - 60px);
    }

    .emptyRestaurantContainer {
        font-size: 22px;
    }

    .addressSection {
        font-size: 22px;
    }

    .addressSection input {
        width: 70%;
    }

    #address {
        font-size: 18px;
    }

    #search-btn {
        font-size: 20px;
    }

    .info {
        font-size: 15px;
    }
    
    .rating {
        font-size: 20px;
    }
    
    .votes{
        font-size: 15px;
    }

}


/* IPAD */
@media  (min-width: 768px) { 

    body, .pageTwo, .pageThree{
        background-size: 1200px 1024px;
    }

    .navbar-brand {
        font-size: 22px;
    }

    .title-grouping {
        justify-content: space-around;
    }

    #title_text {
        letter-spacing: 12px; 
        font-size: 36px;
    }

    .landingButtons {
        font-size: 26px;
        width: 30%;
    }

    .searchSection {
        font-size: 30px;
    }

    .intro {
        font-size: 28px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 12% 5% 0 5%;
    }

    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width:33.33%;
        padding: 15px;
    }

    .pageThree {
        height: calc(100vh - 70px);
    }

    .emptyRestaurantContainer {
        font-size: 35px;
    }

    .emptyRestaurantContainer p{
        margin: auto;    
        width: 80%;
    }
    

    .eats-container {
        margin: 9% 5% 0 5%;
    }

    .addressSection {
        height: 10%;
        font-size: 30px;
        top: 3%;
    }

    .addressSection input {
        width: 55%;
    }

    #address {
        font-size: 24px;
    }

    #search-btn {
        font-size: 26px;
    }

    .info {
        font-size: 30px;
    }

    .rating {
        font-size: 34px;
    }

    .votes {
        font-size: 25px;
    }

}

/* IPAD PRO*/
@media  (min-width: 1024px) { 

    body, .pageTwo, .pageThree{
        background-size: 1500px 1366px;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .title-grouping {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #title_text {
        letter-spacing: 17px; 
        font-size: 45px;
    }

    .landingButtons {
        font-size: 32px;
        width: 30%;
        margin: 0 1%;
    }

    .searchSection {
        font-size: 48px;
    }

    .intro {
        font-size: 35px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 10% 5% 0 5%;
    }
    
    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width: 33%;
        padding: 30px;
    }

    .pageThree {
        height: calc(100vh - 81px);
    }

    .eats-container {
        margin: 8% 5% 0 5%;
    }

    .addressSection {
        font-size: 40px;
    }

    .addressSection input {
        width: 60%;
    }

    #address {
        font-size: 32px;
    }

    #search-btn {
        font-size: 36px;
    }

}

@media  (min-width: 1200px) { 
    body, .pageTwo, .pageThree{
        background-size: 1500px 1366px;
    }

    .navbar-brand {
        font-size: 40px;
    }

    #home2, #eats1, #nba1 {
        font-size: 24px;
    }

    .title-grouping {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #title_text {
        letter-spacing: 17px; 
        font-size: 45px;
    }

    .landingButtons {
        font-size: 32px;
        width: 30%;
        margin: 0 1%;
    }

    .searchSection {
        font-size: 48px;
    }

    .intro {
        font-size: 35px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 10% 5% 0 5%;
    }
    
    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width: 33%;
        padding: 30px;
    }

    .pageThree {
        height: calc(100vh - 81px);
    }

    .eats-container {
        margin: 5% 5% 0 5%;
    }
    
    .emptyRestaurantContainer {
        margin: 0 auto;    
    }
    
    .addressSection {
        margin-top: 8%;
        font-size: 48px;
    }

    .eats-content {
        margin-top: 15%;
        display: flex;
        flex-direction: row-reverse
    }

    .restaurants {
        height: 60%;
        margin: 0;
        padding: 0;
    }

    .map {
        height: 60%;
    }


    .addressSection input {
        width: 60%;
    }

    #address {
        font-size: 38px;
    }

    #search-btn {
        font-size: 40px;
    }
}

@media (max-width: 575px) and (orientation: landscape) {

    .main-content {
        justify-content: space-around;
    }

    .main-title {
        margin-top: 3%;
        align-items: flex-start
    }

    .title-grouping {
        justify-content: space-around;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 13% 5% 0 5%;
    }

    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width:50%;
        padding: 5px;
    }

    .addressSection {
        height: 30%;
        font-size: 20px;
    }

    .addressSection input {
        width: 60%;
    }

    #address {
        font-size: 16px;
    }

    #search-btn {
        font-size: 18px;
    }

    .eats-container {
        margin: 12% 5% 0 5%;
    }

    .eats-content {
        height: 70%;
        margin-top: 10%;
    }

    .map {
        height: 200px;
    }

    .restaurants {
        height: 225px;
    }

    .mainRestaurantContainer {
        height: 25%;
    }

}


@media (min-width: 575.98px) and (orientation: landscape) {

    body, .pageTwo, .pageThree{
        background-size: 925px 975px;
    }

    .title-grouping {
        justify-content: space-around;
    }

    .intro {
        font-size: 18px;
    }

    #title_text {
        letter-spacing: 10px; 
        font-size: 30px;
    }
    
    .landingButtons {
        font-size: 20px;
        width: 25%;
        margin: 0 2%;
    }

    .searchSection {
        font-size: 18px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 10% 5% 0 5%;
    }

    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width:50%;
        padding: 5px;
    }

    .pageThree {
        height: calc(100vh - 60px)
    }

    .addressSection {
        height: 30%;
        font-size: 22px;
        margin-top: 8%;
    }

    .addressSection input {
        width: 50%;
    }

    #address {
        font-size: 16px;
    }

    #search-btn {
        font-size: 18px;
    }

    .eats-container {
        margin: 7% 5% 0 5%
    }

    .eats-content {
        height: 70%;
        margin-top: 10%;
    }

    .map {
        height: 275px;
    }

    .restaurants {
        height: 250px;
    }

    .mainRestaurantContainer {
        height: 40%;
    }

    .info {
        font-size: 18px;
    }

    .rating {
        font-size: 20px;
    }

    .votes {
        font-size: 18px;
    }

}

@media (min-width: 820px) and (max-width: 1024px) and (orientation: landscape) {

    body, .pageTwo, .pageThree{
        background-size: 1024px 975px;
    }

    .title-grouping {
        justify-content: space-around;
    }

    .intro {
        font-size: 20px;
    }

   .navbar-brand {
        font-size: 20px;
    }
    
    #title_text {
        letter-spacing: 17px; 
        font-size: 36px;
    }

    .landingButtons {
        font-size: 22px;
        width: 25%;
    }

    .searchSection {
        font-size: 30px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 8% 5% 0 5%;
    }

    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width:33%;
        padding: 30px;
    }

    .emptyRestaurantContainer {
        font-size: 22px;
    }

    .addressSection {
        height: 30%;
        font-size: 24px;
    }

    .addressSection input {
        width: 50%;
    }

    #address {
        font-size: 18px;
    }

    #search-btn {
        font-size: 20px;
    }

    .eats-container {
        margin: 6% 8% 0 8%;
    }

    .eats-content {
        height: 70%;
        margin-top: 10%;
    }

    .map {
        height: 275px;
    }

    .restaurants {
        height: 400px;
    }

    .mainRestaurantContainer {
        height: 25%;
    }
}

@media (min-width: 1024.98px) and (max-width: 1199.98px) and (orientation: landscape) {
    
    body, .pageTwo, .pageThree{
        background-size: 1366px 1125px;
    }

    .title-grouping {
        justify-content: center;
    }

    .intro {
        font-size: 24px;
    }

   .navbar-brand {
        font-size: 22px;
    }
    
    #title_text {
        letter-spacing: 17px; 
        font-size: 44px;
    }

    .landingButtons {
        font-size: 24px;
        width: 25%;
    }

    .searchSection {
        font-size: 30px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 8% 5% 0 5%;
    }

    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width:33%;
        padding: 30px;
    }

    .team-detail {
        font-size: 22px;
    }

    .timer-container {
        font-size: 16px;
    }

    .twitterBtn {
        font-size: 22px;
    }

    .emptyRestaurantContainer {
        font-size: 30px;
    }

    .addressSection {
        height: 30%;
        font-size: 30px;
    }

    .addressSection input {
        width: 50%;
    }

    #address {
        font-size: 24px;
    }

    #search-btn {
        font-size: 26px;
    }

    .eats-container {
        margin: 5% 10% 0 10%;
    }

    .eats-content {
        height: 70%;
        margin-top: 8%;
    }

    .map {
        height: 400px;
    }

    .restaurants {
        height: 450px;
    }

    .mainRestaurantContainer {
        height: 25%;
    }
}

@media (min-width: 1200px) and (max-width: 1366.98px) and (orientation: landscape) {

    body, .pageTwo, .pageThree{
        background-size: 1875px 1300px;
    }

    .title-grouping {
        justify-content: center;
    }

    .intro {
        font-size: 28px;
    }

    .navbar-brand {
        font-size: 22px;
    }

    #title_text {
        letter-spacing: 20px; 
        font-size: 60px;
    }

    .landingButtons {
        font-size: 30px;
        width: 16%;
    }

    .searchSection {
        font-size: 40px;
    }

    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 8% 5% 0 5%;
    }

    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width:33%;
        padding: 30px;
    }

    .team-detail {
        font-size: 26px;
    }

    .timer-container {
        font-size: 18px;
    }

    .twitterBtn {
        font-size: 26px;
    }

    .pageThree {
        height: calc(100vh - 80px)
    }
   
    .emptyRestaurantContainer {
        font-size: 35px;
    }


    .eats-container {
        margin: 6% 5% 0 5%;
    }

    .addressSection {
        height: 20%;
        font-size: 30px;
        margin-top: 4%;
    }

    .addressSection input {
        width: 50%;
    }

    #address {
        font-size: 24px;
    }

    #search-btn {
        font-size: 26px;
    }

    .eats-content {
        height: 70%;
        margin-top: 0;
        display: flex;
        flex-direction: row-reverse
    }

    .map {
        height: 400px;
    }

    .restaurants {
        margin-top: 0;
        height: 400px;
    }

    .mainRestaurantContainer {
        height: 25%;
    }
}

@media (min-width: 1367px) and (orientation: landscape) {

    body, .pageTwo, .pageThree{
        background-size: 1875px 1300px;
    }

    .title-grouping {
        justify-content: center;
    }

    .intro {
        font-size: 28px;
    }

    .navbar-brand {
        font-size: 30px;
    }

    #title_text {
        letter-spacing: 20px; 
        font-size: 60px;
    }

    .landingButtons {
        font-size: 30px;
        width: 16%;
    }
    .pageTwo {
        height: calc(90vh - 60px);
        display: inline-block;
        display: none;
        margin: 6% 5% 0 5%;
    }

    .scoreboard {
        display: inline-flex;
        flex-direction:column;
        width:25%;
        padding: 30px;
    }

    .team-detail {
        font-size: 28px;
    }

    .timer-container {
        font-size: 20px;
    }


    .twitterBtn {
        font-size: 30px;
    }

    .pageThree {
        height: calc(100vh - 70px)
    }

    .addressSection {
        height: 15%;
        font-size: 30px;
        margin-top: 2%;
    }

    .addressSection input {
        width: 40%;
    }

    #address {
        font-size: 24px;
    }

    #search-btn {
        font-size: 26px;
    }

    .eats-container {
        margin: 3% 10% 0 10%;
    }

    .eats-content {
        height: 70%;
        margin-top: 2%;
        display: flex;
        flex-direction: row-reverse
    }

    .map {
        height: 450px;
    }

    .restaurants {
        margin-top: 0;
        height: 450px;
    }

    .mainRestaurantContainer {
        height: 25%;
    }
}